.div{border: 2px  solid rgb(196, 139, 55)
  ;z-index: 99;   
}
body{
  background-image: url('ab.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 7px 400px;
  background-size: 1350px 500px;
  animation-name: example;
  animation-duration: 19s;
  animation-iteration-count: infinite;
}



@keyframes example {
0% {background-image: url("ab.jpg");}
25% {background-image: url("pqr.jpg");}
50% {background-image: url("pc.jpg");}
100% {background-image: url("pa.jpg");}
}

#s {
    margin: 180px 900px ;
    border-radius: 25px;
 }


#h2{background-color: rgb(228, 97, 50);color:white;
   border-radius: 25px;width: 90%;height:8% ; margin-left: 5%;margin-top: 5%;}
#a{color:rgb(248, 247, 252) ; font-size: 17px;
  
z-index: 99;}