.header1{margin-left: 10%;
    margin-top: 3%;

}
.hrc{ margin-left: 39%;
margin-top: -7%;
color: brown;}


  .topheader{ background: #efc600; height: 31px; line-height: 31px;
     font-family: 'open_sanssemibold'; text-align: right;}
  .topheader a{ color: rgb(107, 42, 228); margin-left: 9px; }



